* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointers;
}
body {
    background-color: white;
}
/* nav  */
nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
nav img {
    width: 55px;
    margin-right: 15px;
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}
.left a {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}
.left a:hover {
    color: #006644;
}
.btn {
    border-radius: 15px;
    padding: 5px 15px;
    border: solid 1px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    transition: all 0.5s;
}
.signin:hover {
    background-color: #e5e5e5;
}
.login {
    background-color: black;
    color: white;
}
.login:hover {
    background-color: rgb(38, 38, 38);
}
/* main */
.new {
    padding: 150px 7%;
}
.promotion {
    display: flex;
    gap: 20px;
}
.card-text {
    text-align: center;
}
.card-text h3 {
    font-size: 2rem;
    text-transform: uppercase;
}
.card-text p,
.card-text h3 {
    text-align: start;
}
.buy {
    background-color: #006241;
    color: white;
    padding: 10px;
    display: block;
    margin: 20px auto;
    width: 30%;
}
.buy:hover {
    background-color: #094833;
}
/* footer  */
.contact {
    text-transform: capitalize;
    border-top: 1px solid rgb(167, 166, 166);
    padding: 30px 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.service h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
.service a {
    font-size: 15px;
    margin-bottom: 36px;
    display: block;
    color: grey;
    transition: all 0.5s;
}
.service a:hover {
    color: black;
}
hr {
    width: 80%;
    margin: auto;
    background: #e5e5e5;
    border: none;
    height: 3px;
}
/* footer */

.footer {
    padding: 30px 10%;
}
.bx {
    font-size: 35px;
    margin-right: 10px;
}
.reference {
    margin: 15px 0;
}
.reference a {
    margin-right: 15px;
    font-size: 14px;
}
.reference a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
}
ul li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.sep {
    display: inline-flex;
    border-left: 2px solid #6b6b6b;
    height: 20px;
    margin-right: 15px;
}
.last {
    display: none;
}
.cp p {
    color: #6b6b6b;
    font-size: 13px;
}
main.thank {
    padding: 270px 0;
    text-align: center;
}
.return {
    background-color: #006241;
    padding: 15px;
    color: white;
    margin: auto;
    margin-top: 30px;
    display: block;
    width: 15%;
    cursor: pointer;
}
