.account {
    width: 30%;
    margin: auto;
}
.box {
    padding: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
div {
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    margin: 20px;
}
label:not(:last-child) {
    text-transform: uppercase;
    font-size: 14px;
}
label.checkbox {
    display: inline;
    font-weight: 500;
    display: inline-flex;
    margin-top: 30px;
}
input[name="checkbox"] {
    width: 1.3rem;
    height: 1.3rem;
    display: inline;
    margin-right: 10px;
}
input:not([type="checkbox"]) {
    height: 40px;
}
.forget-pw {
    font-weight: 600;
    color: #094833;
    display: block;
    margin-bottom: 30px;
}
.forget-pw:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* more info  */
.more-info {
    text-align: center;
    width: 20%;
    margin: auto;
    margin-top: 50px;
    font-weight: 400;
    font-size: 14px;
}
.more-info h3 {
    font-weight: 600;
    color: #094833;
    margin: 0;
    font-size: 15px;
    letter-spacing: 1px;
}
.more-info p {
    margin: 10px;
}
.more-info a {
    border: 1px solid hwb(160 6% 58%);
    color: hwb(160 6% 58%);
    font-weight: 600;
}

.btn {
    display: block;
    width: 100px;
    margin: auto;
    margin-bottom: 100px;
    transition: all 0.5s;
}
.btn:hover {
    background-color: #0d6346;
    color: white;
}
.buy:hover {
    background-color: #2b8467;
}
/* contact  */
.signin {
    width: 30%;
    margin-left: 250px;
    margin-bottom: 50px;
}
